/* Universal Styles*/
body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
a {
  color: white;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
.image {
  height: 200px;
  width: 300px;
}

/*Header Rules*/
header {
  display: flex;
  align-items: center;
  height: 69px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}
.logo{
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}
.logo img {
  height: 50px;
}
nav span {
  padding: 10px 10px;
}

/*Main content rules*/

.maincontainer {
  display: flex;
  position: relative;
  top: 69px;
  align-items: center;
  flex-direction: column;
}

/*Mission rules*/

.missioncontainer{
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}
.missiontext {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%
}

/*Featured Tea rules*/
.teacontainer {
  padding-top: 70px;
  width: 1000px;
}
.flextea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flexteabox {
  margin: 16px;
}
.teacontainer h4 {
  padding-top: 10px;
}

/*Locations rules*/
.locationscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
}
.locationsflex {
  display: flex;
}
.locationbox {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 20px;
  background-color: black;
}

/*Footer rules*/
footer {
    height: 200px;
}
.copyright {
  width: 100%;
  padding-left: 20px;
  text-align: left;
}
