/* Universal Styles*/
body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: white;
}

/*Header Rules*/
header {
  display: flex;
  align-items: center;
  height: 69px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
}
.logo{
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  border: thin solid white;
}
.logo img {
  height: 50px;
}
header nav {
  padding-right: 10px;
  border: thin solid white;
}
